# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# macOS
.DS_Store

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Database
whack_a_mole.db
*.sqlite3

# Logs
*.log

# Byte-compiled
*.egg-info/
dist/
build/

# OS files
Thumbs.db
